# Ignore compiled Ruby files
*.rbc
.bundle/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/cache/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/assets
/public/packs
/public/packs-test
/vendor/bundle
/vendor/cache
/vendor/ruby

# Ignore configuration files
config/database.yml
config/master.key
config/credentials.yml.enc
config/local_env.yml
.env # For environment variables

# Ignore editor/IDE specific files
.vscode/
.idea/
.DS_Store # macOS specific
*.swp     # Vim swap files
*~        # Emacs backup files

# Ignore any directory that's just for user-uploaded files
/public/uploads/